{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-types": "off",
    "prettier/prettier": [
      "warn",
      {
        "semi": true,
        "singleQuote": false,
        "trailingComma": "es5",
        "jsxSingleQuote": false
      },
    ],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}